<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <style type="text/css">
        #range1 {
            width: 60px;
            padding: 5px;
            background: #0FFF00;
            }
        #range2 {
            width: 60px;
            padding: 5px;
            background: #FF0;
            }
        #range3 {
            width: 60px;
            padding: 5px;
            background: #FF0000;
            }
        #range4 {
            width: 60px;
            padding: 5px;
            background: #000000;
            color: #FFFFFF;
            }
    </style>
</head>
<body>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}

    <form action="" method="post">
        <p>
            <label for="count">Количество</label>
            <input type="range" name="count" min="1" max="10" value="5" onchange="document.getElementById('rangeValue').innerHTML = this.value;">
            <span id="rangeValue">5</span>
        </p>
        <p>
            <b>Значения</b>
            <div id="range1">1-3</div>
            <div id="range2">4-6</div>
            <div id="range3">7-8</div>
            <div id="range4">9-10</div>
        </p>
        <p>
	        <label for="email">E-mail:</label>
	        <input type="text" name="email">
	    </p>
	    <p>
            <label for="fio">ФИО:</label>
	        <input type="text" name="fio">
	    </p>
	    <p>
	        <input type="submit" value="Отправить">
	    </p>
    </form>
</body>
</html>